NODE_ENV=test
PORT=3000

DATABASE_URL=postgresql://soundmeet:soundmeet123@localhost:5432/soundmeet
MONGODB_URL=mongodb://soundmeet:soundmeet123@localhost:27017/soundmeet?authSource=admin
REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://soundmeet:soundmeet123@localhost:5672
RABBITMQ_EXCHANGE=soundmeet.exchange
RABBITMQ_QUEUE_REQUESTS=soundmeet.requests
RABBITMQ_QUEUE_NOTIFICATIONS=soundmeet.notifications
RABBITMQ_QUEUE_PAYMENTS=soundmeet.payments
RABBITMQ_QUEUE_GAMIFICATION=soundmeet.gamification

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=soundmeet
KEYCLOAK_CLIENT_ID=soundmeet-backend
KEYCLOAK_CLIENT_SECRET=dummy

JWT_SECRET=dummy
JWT_REFRESH_SECRET=dummy

AWS_REGION=us-east-1

AI_AUDIO_STORAGE_PROVIDER=minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_PUBLIC_ENDPOINT=localhost
MINIO_PUBLIC_PORT=9000
MINIO_ACCESS_KEY=soundmeet
MINIO_SECRET_KEY=soundmeet123
MINIO_BUCKET=soundmeet-media
MINIO_DOCKER_ENDPOINT=host.docker.internal

SEPARATION_FAKE=false
SEPARATION_TRIM_SECONDS=0

AI_AUDIO_MAX_FILE_SIZE=209715200
AI_AUDIO_ALLOWED_MIME_TYPES=audio/mpeg,audio/wav,audio/x-wav,audio/flac,audio/x-flac,audio/mp4,audio/x-m4a
AI_AUDIO_DEFAULT_MODEL_ID=htdemucs_4stems
AI_AUDIO_PROCESSING_TRANSPORT=http
AI_AUDIO_SEPARATION_HTTP_BASE_URL=http://localhost:8000
AI_AUDIO_SEPARATION_HTTP_PATH=/v1/separate
AI_AUDIO_SEPARATION_HTTP_TIMEOUT_MS=3600000

AI_AUDIO_E2E_FILE=/home/wesleyr10/Programação/Projetos/SoundMeet/soundmeet-backend/sample/Nós Dois - Lourena.mp3
# AI_AUDIO_E2E_MODEL_IDS=htdemucs_4stems,htdemucs_6stems,mdx23c,bs_roformer,mel_band_roformer
AI_AUDIO_E2E_MODEL_IDS=htdemucs_4stems

MODEL_HTDEMUCS_4_CHECKPOINT=/models/htdemucs_4stems.ckpt
MODEL_HTDEMUCS_6_CHECKPOINT=/models/htdemucs_6stems.ckpt
MODEL_MDX23C_CHECKPOINT=/models/mdx23c.ckpt
MODEL_BS_ROFORMER_CHECKPOINT=/models/bs_roformer.ckpt
MODEL_MEL_BAND_ROFORMER_CHECKPOINT=/models/mel_band_roformer.ckpt
